In [1]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv('spam.csv',encoding="ISO-8859-1")

In [5]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [6]:
del data['Unnamed: 2']

In [7]:
del data['Unnamed: 3']
del data['Unnamed: 4']

In [8]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [10]:
x=data.iloc[:,1]
y=data.iloc[:,0]

In [9]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [12]:
x_train

3569    Customer Loyalty Offer:The NEW Nokia6650 Mobil...
1219    True. It is passable. And if you get a high sc...
3133              Ok going to sleep. Hope i can meet her.
1189    In that case I guess I'll see you at campus lodge
3280    I tot it's my group mate... Lucky i havent rep...
                              ...
2285    Hi, wkend ok but journey terrible. Wk not good...
3458    Not heard from U4 a while. Call me now am here...
1711    I got your back! Do you have any dislikes in bed?
1761    Got ur mail Dileep.thank you so muchand look f...
2309    I have 2 sleeping bags, 1 blanket and paper an...
Name: v2, Length: 4457, dtype: object

In [13]:
y_test

3216    ham
5172    ham
160     ham
172     ham
1471    ham
       ...
1953    ham
447     ham
775     ham
126     ham
3101    ham
Name: v1, Length: 1115, dtype: object

In [14]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer

In [15]:
from sklearn.svm import SVC

In [16]:
text_clf = Pipeline([('tfidf', TfidfVectorizer()),
                     ('clf', SVC(gamma='auto',)),])
text_clf.fit(x_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', SVC(gamma='auto'))])

In [17]:
predictions = text_clf.predict(x_test)

In [18]:
from sklearn import metrics
print(metrics.confusion_matrix(y_test,predictions))

[[968   0]
 [147   0]]

In [19]:
print(metrics.classification_report(y_test,predictions))

              precision    recall  f1-score   support

         ham       0.87      1.00      0.93       968
        spam       0.00      0.00      0.00       147

    accuracy                           0.87      1115
   macro avg       0.43      0.50      0.46      1115
weighted avg       0.75      0.87      0.81      1115

c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [20]:
print(metrics.accuracy_score(y_test,predictions))

0.8681614349775785

In [21]:
sahil="hello my name is sahil khan"

In [22]:
predictions = text_clf.predict([sahil])

In [27]:
predictions

array(['ham'], dtype=object)

In [29]:
if predictions==0:
    print('this is ham SMS')
else:
    print("this is spam SMS")

this is spam SMS

In [30]:
import pickle

In [31]:
pickle.dump(text_clf,open("model.pkl","wb"))